body {
    padding: 0%;
    margin: 0%;
    /* background: black; */
    overflow-x: hidden;
}

.img-name-tittle {
    width: 40%;
    display: flex;
    align-items: center;
}

.img-name-tittle a {
    text-decoration: none;
}

.img-tittle a img {
    width: 60px;
}

.name-tittle a {
    font-size: 1.3rem;
    color: black;
}

.name-tittle a:hover {
    color: black;
}

.name-tittle {
    padding-left: 0.5rem;
}

.navbar-nav li a {
    font-size: 1.2rem;
    color: black;
}

.btn-reg {
    padding: 0; 
    border: none; 
    background: none;
}

.nav-item {
    text-transform: uppercase;
    margin-left: 2rem;
}

.dropdown-menu li a {
    color: #0d6efd;
}

.dropdown-menu li a:hover {
    color: #0d6efd;
}

.dropdown-item:hover {
    cursor: pointer;
}

.nav-link:hover {
    cursor: pointer;
}

/*=======================================SECTION===============================================*/

section {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.filtros-container {
    display: flex;
}

.filtros-container a button {
    margin: 1rem;
    border-width: 1px;
}

.filtros-container a button:hover {
    background: #fff;
}

.filtros {
    width: 50vw;
    display: flex;
    justify-content: center;
}

/*=======================================FOOTER===============================================*/

.footer-container {
    background: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem .5rem 2rem;
    border-top: 1px solid black;
}

.footer {
    color: #3b5999;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes-container {
    /* background-color: #e4405f; */
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes-container h4 {
    font-size: 1.2rem;
}

.option-footer {
    /* background-color: antiquewhite; */
    width: 25%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.option-footer a {
    /* background-color: #006236; */
    color: #3b5999;
    font-size: 1rem;
    width: fit-content;
    text-decoration: none;
}

.copy-container {
    width: 100%;
    color: #3b5999;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.copy-container h5 {
    font-size: 1rem;
}

.option-footer a:hover {
    color: #3b5999;
    text-decoration: underline;
}

.redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociales a {
    display: inline-block;
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    line-height: 2.9rem;
    color: #fff;
    margin: 1rem;
    background-color: #fff;
    text-align: center;
    border-radius: 1.5rem;
    font-size: 2rem;
}

.facebook i{
    color: #3b5999;
}

.instagram i{
    color: #e4405f;
}

.twitter i{
    color: #55acee;
}

.redes-sociales .facebook:hover {
    background-color: #00000013;
}

.redes-sociales .instagram:hover {
    background-color: #00000013;
}

.redes-sociales .twitter:hover {
    background-color: #00000013;
}


::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #0d90c4;
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}






@media (max-width: 992px) {
    .footer {
        flex-direction: column;
        width: 100vw;
        text-align: center;
        margin: 0%;
        align-items: center;
    }
    
    .option-footer {
        /* background-color: #0d2033; */
        width: 100%;
        padding: 0%;
        padding-top: 1rem;
        align-items: center;
    }
    
    .option-footer a {
        /* background-color: #006236; */
        width: fit-content;
        font-size: 1rem;
    }
    
    .redes-container {
        width: 100%;
        text-align: center;
        padding-top: 2rem;
    }
    
    .redes-container h4 {
        font-size: 1rem;
    }
    
    .footer-container {
        padding: 0%;
        padding-top: 2rem;
        margin-top: 2rem;
    }
    
    .copy-container h5 {
        font-size: 0.8rem;
        text-align: center;
    }


    .nav-item a {
        font-size: 0.9rem;
    }

    .nav-item {
        margin-left: 0%;
    }

    .name-tittle {
        display: none;
    }
}