
.card {
    margin: 8px;
    width: 14rem;
}

.card:hover {
    /* background: linear-gradient(rgb(84, 120, 124), rgb(89, 178, 216), rgb(84, 120, 124)); */
    background: linear-gradient(rgb(143, 175, 179), rgb(139, 203, 231), rgb(143, 175, 179));
    cursor: pointer;
    color: #fff;
}

#imgTwo {
    width: 0%;
    position: absolute;
}

.card:hover #imgTwo {
    width: 100%;
}

.card:hover #btn-favorite-one {
    color: black;
}



#btn-favorite-one {
    position: absolute;
    font-size: 1.5rem;
    margin: 0.5rem;
}

#btn-favorite-two {
    position: absolute;
    font-size: 0;
    margin: 0.5rem;
}

#btn-favorite-one:hover ~ #btn-favorite-two {
    font-size: 1.5rem;
    color: red;
}




.talle-genero {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.talle-generox2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border-top: none;
}

.add-touch:hover #carrito {
    transition: 1.5s;
    transform: rotate(360deg);
}

.add-touch:hover {
    color: #fff;
}

.card img {
    width: auto;
}

.card-body a button {
    padding: 0;
    border: none;
    background: none;
}

.card-body a img {
    width: 35px;
}

.card-body a img:hover {
    transition: 1.5s;
    transform: rotate(360deg);
}

.nav-link:hover .img-add {
    transition: 1.5s;
    transform: rotate(360deg);
}

.img-add {
    width: 30px;
}

.img-add:hover {
    transition: 1.5s;
    transform: rotate(360deg);
}

#carrito {
    color: #fff;
    width: 25px;
}

.productos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productosTwo {
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.form-container {
    width: 50%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.container-global-form {
    display: flex;
    justify-content: center;
    /* background: linear-gradient(rgb(83, 231, 206), rgb(97, 193, 238), rgb(83, 231, 206)); */
    background: linear-gradient(#08aac7a4, #2ebd8d85);
}

.name-tittle a {
    font-size: 1.3rem;
    color: black;
    font-size: 18px;
}

.show-img {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.show-img-one {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.show-img-one img {
    border-radius: 6rem;
}

.show-img-one h3 {
    font-size: 1.3rem;
    font-weight: 400;
}




.btnTable {
    border: 0px solid rgba(0, 0, 0, 0.125);
    background: none;
}

#imgadddelete {
    width: 22px;
}

#imgadddelete:hover {
    transition: 1.5s;
    transform: rotate(360deg);
}




::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #0d90c4;
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}



.profile-container-global {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.profile-container {
    /* background: rgba(0, 0, 0, 0.103); */
    background: rgba(0, 0, 0, 0.055);
    width: 40%;
    border: 1px solid black;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.datos-user {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-top: 1px solid black;
}

.datos-titulo-user {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.update-datos-profile {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}



/*==============================================================================================*/

.filter-btn {
    border: none;
    background: none;
    text-transform: uppercase;
    color: #0d6efd;
    width: max-content;
    padding: 0%;
    margin: 0%;
}

.user-register {
    width: 100%;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

/*==============================================================================================*/

.carrito-container {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver-carrito {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns-carrito {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-imgCarrito img {
    width: 100px;
}

.precioFinal-container {
    background: #49a4ffd9;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precioFinal-container p {
    padding: 0%;
    margin: 0%;
    color: #fff;
    text-transform: uppercase;
}

#carrito-vacio {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding: 2rem 0;
}

#carrito-vacio p {
    margin: 0%;
    padding: 0%;
    margin-right: 1rem;
}

.buy-carrito-container {
    text-decoration: none;
    width: 90%;
}

#btn-buy-carrito {
    width: 100%;
    padding: 0.8rem 0;
    background: #3483fa;
}

#btn-buy-carrito:hover {
    background: #2d6bc9;
}

.seguir-compra {
    text-decoration: none;
    width: 40%;
}

#btn-seguir {
    width: 100%;
    padding: 0.8rem 0;
    background: #3483fa;
}

#btn-seguir:hover {
    background: #2d6bc9;
}

#btn-finalizar {
    width: 100%;
    padding: 0.8rem 0;
}

.precioFinal-container p {
    margin-right: 1rem;
}

/*==============================================================================================*/

.pagar-container {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.inputs-pagar {
    width: 60%;
}

.datos-ciudad {
    width: 100%; 
    display: flex;
    justify-content: space-between;
}

#ciudad-container {
    width: 45%;
}

#codigo-postal-container {
    width: 45%;
}

.btn-volver-container {
    width: 100%;
}

.btn-volver {
    width: min-content;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.btn-volver:hover {
    cursor: pointer;
}

/*==============================================================================================*/

.thanks-container {
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#thanks {
    width: 60%;
    text-align: center;
}

#thanks p {
    font-size: 2rem;
}

.img-thanks {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.img-thanks img {
    width: 400px;
}

.mensaje-envio {
    width: 50%;
    display: flex;
    justify-content: center;
}

.msg-envio {
    margin: 0%; 
    font-size: 1.1rem;
}

.back-container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.back-a {
    width: 100%;
}


#back-tienda {
    width: 100%;
    padding: 0.8rem 0;
    background: #3483fa;
}

#back-tienda:hover {
    background: #2d6bc9;
}

/*==============================================================================================*/

.control-compras {
    width: 100%;
    position: fixed;
    bottom: 1%;
    left: 2%;
    z-index: 11;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-start;
}

#content-register-user {
    width: max-content;
    display: flex;
    justify-content: center;
}

/*==============================================================================================*/



@media (max-width: 992px) {
    .card {
        width: 10rem;
        font-size: 0.8rem;
    }

    .productosTwo {
        width: 100%;
    }

    .form-container {
        width: 80%;
    }

    #carrito {
        width: 15px;
    }

    .card-body h5 {
        font-size: 1rem;
    }

    .show-img {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .show-img-one {
        width: 90%;
    }

    .marca-genero {
        display: none;
    }

    .profile-container-global {
        padding: 1rem;
    }

    .profile-container {
        width: 100%;
    }

    .datos-user {
        padding: 1rem;
    }


    #btn-favorite-one {
        font-size: 1.2rem;
        margin: 0.3rem;
    }
    
    #btn-favorite-two {
        font-size: 0;
        margin: 0.3rem;
    }
    
    #btn-favorite-one:hover ~ #btn-favorite-two {
        font-size: 1.2rem;
    }


    .nav-item a {
        font-size: 0.7rem;
    }


    .user-register {
        font-size: 0.8rem;
    }

    #content-register-user {
        padding: 0.5rem;
    }

    .mostrar-r {
        display: none;
    }

    .container-imgCarrito img {
        width: 50px;
    }

    .btns-carrito {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seguir-compra {
        width: 90%;
        margin: 1rem;
    }

    .control-compras {
        font-size: 0.8rem;
        justify-content: center;
    }

    .ver-carrito {
        width: 90%;
    }

    .seguir-compra {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }

    .inputs-pagar {
        width: 100%;
    }

    #thanks {
        width: 100%;
    }

    #thanks p {
        font-size: 1.2rem;
    }

    .img-thanks img {
        width: 180px;
    }

    .mensaje-envio {
        width: 90%;
    }

    .msg-envio {
        font-size: 1rem;
    }

    .back-container {
        width: 90%;
    }
}